/* Navbar */

.navbar {

    display: flex;

    justify-content: space-between;

    align-items: center;

    background: #1e40af;

    padding: 18px 50px;

    color: white;

    position: sticky;

    top: 0;

    z-index: 1000;

    box-shadow: 0 4px 12px rgba(0,0,0,0.15);

}



/* Logo */

.logo {

    font-size: 28px;

    font-weight: bold;

    letter-spacing: 1px;

}



/* Navigation links */

.nav-links {

    display: flex;

    align-items: center;

    gap: 30px;

    list-style: none;

    margin: 0;

    padding: 0;

}



.nav-links li a {

    color: white;

    text-decoration: none;

    font-size: 17px;

    font-weight: 500;

    transition: 0.3s;

}



/* Hover effect */

.nav-links li a:hover {

    color: #facc15;

}



/* Login button */

.nav-login {

    background: white;

    color: #2563eb !important;

    padding: 10px 22px;

    border-radius: 25px;

    font-weight: bold !important;

}



/* Login hover */

.nav-login:hover {

    background: #facc15;

    color: #111827 !important;

}





/* Mobile */

@media(max-width:768px){


    .navbar {

        flex-direction: column;

        gap: 20px;

        padding: 20px;

    }


    .nav-links {

        flex-direction: column;

        gap: 15px;

    }


}